@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              @Html.Image("test.jpg", "Test Image")
        </div>
    </body>
</html>